[submodule "Assets/UnityTokenPrefab"]
	path = Assets/UnityTokenPrefab
	url = https://github.com/AgoraIO-Community/UnityTokenPrefab
[submodule "Assets/UnityVirtualCameraPrefab"]
	path = Assets/UnityVirtualCameraPrefab
	url = git@github.com:AgoraIO-Community/Unity-Virtual-Camera-Prefab.git
